doctype html
// saved from url=(0018)http://gulpjs.com/
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |         
    meta(charset='utf-8')
    |         
    title Ali
    |         
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |         
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui')
    |         
    link(rel='shortcut icon', href='http://gulpjs.com/favicon.ico', type='image/x-icon')
    |         
    link(rel='icon', href='http://gulpjs.com/favicon.ico', type='image/x-icon')
    |         
    link(rel='stylesheet', href='./gulp.js - the streaming build system_files/highlight.css')
    |         
    link(rel='stylesheet', href='./gulp.js - the streaming build system_files/style.css')
    //if lt IE 9
      script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js')
    |     
    style(type='text/css').     
  body(data-pinterest-extension-installed='cr1.39.1', data-feedly-mini='yes')
    .main-header
      nav.navbar
        a.navbar-title(href='./gulp.js - the streaming build system_files/gulp.js - the streaming build system.html') gulp.js
        |               
        .navbar-links
          a.navbar-link(href='https://github.com/ljofre/ecuaciones-diferenciales') Material
          |                            
          a.navbar-link(href='https://twitter.com/gulpjs') Asignaturas  
          |  
          a.navbar-link(href='http://gulpjs.com/plugins') Facebook
          
      |             
      .main-header-content
        //img.logo(src='./gulp.js - the streaming build system_files/gulp-white-text.svg')
        p.main-header-text Ali Class
        |                 
        p.main-header-text clases particulares universitarias
        |                 
        a.main-header-btn(href='https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md') Salva tu ramo!
    |         
    .main-info
      .main-info-content
        .benefits
          .benefit
            h1.benefit-title Experiencia
            |                   
            p.benefit-text
              | Muchos alumnos felices
          |                 
          .benefit
            h1.benefit-title Eficiencia
            |                   
            p.benefit-text
              | Efectivos
          |                 
          .benefit
            h1.benefit-title Personalizado
            |                   
            p.benefit-text
              | By enforcing strict plugin guidelines, we ensure that plugins stay simple and work as expected.
          |                 
          .benefit
            h1.benefit-title Conocemos tu universidad
            |                   
            p.benefit-text
              | Using node best practices and maintaining a minimal API surface, your build works exactly as you would imagine.
