doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  body
    link(rel='stylesheet', href='./../css/style.css')
    .container
      .header
        .logos
          img(src='https://onegeeks.files.wordpress.com/2015/05/whatsapp-logo-vector.png')
        |             
        p +569 79568119
        |             
        .logos
          img(src='http://www.seeklogo.net/wp-content/uploads/2013/11/facebook-flat-vector-logo-400x400.png')
        |             
        p Ali Class (Clases Particulares Chile)
        |             
        .logos
          img(src='http://www.allenbonilla.com/wp-content/uploads/2013/01/gmail-logo-icon.png')
        |             
        p aliclass.chile@gmail.com
      |         
      .titulo
        h1 Ali Class
        |             
        h2 Asesor&igrave;as universitarias
        |             
        .flexproductos
          .productos
            div
              div
                h4 Valores
                |                             
                ul
                  li.item Valor clase: $ 10.000 (60 min)
                  |                                 
                  li.item Trabajos desde $15.000
                  |                                 
                  li.item Asesor&iacute;as on-line (por Whatsapp!)
              |                         
              img.logos(src='http://www.pxdocuments.net/assets/img/ser01.png')
            |                     
            div
              div
                h4 Asignaturas
                |                             
                ul
                  li.item Estad&iacute;stica y probabilidad
                  |                                 
                  li.item Inferencia estad&iacute;stica
                  |                                 
                  li.item Investigaci&oacute;n de operaciones
                  |                                 
                  li.item Ecuaciones diferenciales
                  |                                 
                  li.item C&aacute;lculo 1,2,3,4
                  |                                 
                  li.item Algebra, algebra lineal
                  |                                 
                  li.item Mec&aacute;nica, electromagnetismo
              |                         
              img.logos(src='http://www.bomapfumo.com/wp-content/uploads/2014/09/lightbulb.png')
      |         
      .experiencia
        .logos
        |             
        .logos
        |             
        .logos
        |             
        .logos
        |             
        .logos
      |         
      .main-info
        div
          h4 ACERCA DE NOSOTROS
          |                 
          p.descripcionproducto
            | Egresada de Ingenier&iacute;a Civil Industrial mas de 4 a&ntilde;os como Ayudante en universidad e Institutos y Profesora Particular Educaci&oacute;n b&aacute;sica a superior, junto a un grupo de compa&ntilde;eros de carrera de igual experiencia. Metodolog&iacute;a orientada a todas las carreras
            | y distintos niveles de profundidad. Material complementario y apuntes propios, clases personalizadas a tu material y necesidades. Experiencia con alumnos de diferentes universidades e institutos. Coordina con tiempo y salva tu ramo.
            | Consulta por otros temas relacionados con ingenier&iacute;a y detalle de temas de cada asignatura mencionada. (sobre otras asignaturas consultar por interno)
        |             
        div
          div
            div
              h4 CLASES PARTICULARES
              |                         
              p Disponibilidad de Lunes a Domingo Domicilio o lugar a convenir (c&eacute;ntrico)
            |                     
            img(src='https://cdn1.iconfinder.com/data/icons/education-colored-icons-vol-3/128/113-512.png')
          |                 
          div
            div
              h4 Asesor&iacute;as en trabajos
              |                         
              p Desarrollo de Trabajos, Tareas y Gu&iacute;as paso a paso.
            |                     
            img(src='http://brahmee.com/img/course_images/assessment.png')
          |                 
          div
            div
              h4 ASESOR&Iacute;AS POR WHATSAPP
              |                         
              p Apoyo on-line en controles, pruebas y examenes.
            |                     
            img(src='https://onegeeks.files.wordpress.com/2015/05/whatsapp-logo-vector.png')
        |             
        div
