.container
  background: #2c3f4d
  font-family: Arial, Helvetica, sans-serif
  color: #FFF
  width: 100%
  margin: 0 auto
  padding: 10px

.header
  width: 100%
  height: 165px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-around

.header p
  font-size: 20px

.titulo
  padding: 10px
  border: 1px solid #FFF
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif
  text-align: center
  color: #f0c413

.main-info
  background: #F1F1F1
  padding: 10px

.main-info div
  width: 90%

.descripcion
  background: #F1F1F1
  border: 1px solid #c3c5b5
  display: inline-block
  width: 885px
  margin: 20px 0
  padding: 20px

.imagen
  float: right
  margin-right: 20px

.productos
  background: #F1F1F1
  border: 1px solid #c3c5b5
  display: inline-block
  width: 100%
  margin: 20px 0
  padding: 20px

.logos
  height: 110px

.logos img
  height: 50%

.descripcionproducto
  margin: 10px 0
  font-family: Arial, Helvetica, sans-serif
  color: #555
  line-height: 40px

.item
  list-style: square inside
  margin: 10px 0
  padding: 0

.servicio
  height: 242px
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif
  color: #FFF
  padding: 15px
  margin: 10px

.servicios
  display: flex
  flex-direction: row
  justify-content: space-around

.flexproductos
  width: 100%
  display: flex

.container

.header

.header > p

.logos

.logos > img
  margin-top: 20px

.titulo

.titulo > h1
  margin: 0
  padding: 0
  font-size: 60px

.titulo > h2
  margin: 0
  padding: 0
  font-size: 32px

.flexproductos

.productos

.productos > div
  float: left
  width: 442px
  background: url(images/meli-template-separator.jpg) right 0 repeat-y

.productos > div > div
  float: left
  width: 317px

.productos > div > div > h4
  margin: 0
  padding: 0
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif
  font-size: 18px
  color: #333
  font-weight: bold

.item

.experiencia

.main-info

.main-info > div
  padding: 20px 0
  clear: both
  margin: auto

.main-info > div > h4
  padding: 0
  margin: 0
  font-family: Calibri, Arial, Helvetica, sans-serif
  color: #333
  font-size: 16px
  font-weight: bold
  text-transform: uppercase
  line-height: 16px

.descripcionproducto

.servicios
  padding: 20px 0
  clear: both
  margin: auto

.servicio
  background: #f0a70a

.servicio > div
  float: left
  width: 189px

.servicio > div > h4
  text-transform: uppercase
  font-size: 20px
  font-weight: bold
  margin: 0 0 10px
  padding: 0

